* {
  margin: 0;
  padding: 0;
}


/* Home Page */

.li-hover {
  color: white;
  background-color: #212529;
}

.li-hover:hover {
  color: black;
  background-color: #f9ca24;
  font-weight: 500;
}

.btn-color{
  color: #212529;
  background-color: #f9ca24;
  font-weight: bold;
}

.search-icon{
  color: #F9CA24;
}

.search-icon:hover{
  color: aquamarine;
}

/* Login and Registration Background */

.page-bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F9CA24;
} 

/* Contact Page */

.page-bg-contact {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #212529;
} 
.contact{
  padding: 4%;
  height: 400px;
}
.col-md-4{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
  color: black;
}
.contact-info img{
  margin-bottom: 15%;
  margin-left: 38%;
}
.contact-info h2{
  margin-bottom: 10%;
  margin-left: 22.5%;
}
.col-md-8{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: black;
}

/* About Page */

.page-bg-about {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aboutus-section {
  padding: 90px 0;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: black;
  text-align: center;
}
.aboutus-title::after {
  background: #F9CA24 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.aboutus-text {
  color: #222;
  font-size: 15px;
  line-height: 22px;
  margin: 0 0 35px;
  text-align: justify;
}

a:hover, a:active {
  color: #F9CA24;
  text-decoration: none;
  outline: 0;
  border: 1px solid black;
}
.aboutus-more {
  border: 1px solid #F9CA24;
  border-radius: 25px;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.feature{
  margin-top: 2rem;
}
.feature .feature-box .iconset {
  background: #fff none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 18%;
}

.feature .feature-box .feature-content h4 {
  color: #020101;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}


.feature .feature-box .feature-content {
  float: left;
  width: 78%;
  margin-bottom: 2rem;
  text-align: justify;  
}
.feature .feature-box .feature-content h4 {
  color: black;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
  color: #222;
  font-size: 15px;
  line-height: 22px;
}
.icon {
  color : #f4b841;
  padding:0px;
  font-size:40px;
  border: 1px solid #F9CA24;
  border-radius: 100px;
  color: #F9CA24;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}



