* {
  margin: 0;
  padding: 0;
}

body{
  background-color:#F9C11D;
}

/* Home Page */

.li-hover{
    color:white;
    background-color: #212529;
}

.li-hover:hover {
    color:black;
    background-color: #F9CA24;
    font-weight: 500;
}
