{% extends 'base.html' %} {% block title %} Cart - UnTuned {% endblock title %}
{% block body %}
<body>
  {% if not g.user %}
    <div class="container text-center my-5">
        <img src="{{url_for('static', filename = 'images/empty-cart-1.png')}}" alt="empty cart" height="250px" width="250px">
        <h3 class="mt-3">Missing Cart items?</h3>
        <h5 class="mb-3">Login to view items in your cart!</h5>
        <a href="/login" style="text-decoration:none;"><div class="btn btn-success btn-lg my-2"> Login</div> </a>
    </div>
  {% else %}
    <div class="container ">
        <div class="row">
            <div class="col-md-8 bg-dark">
                
                
            </div>

            <div class="col-md-4 bg-white">
                <div class="row-fluid">
                    <div class="span2 bg-primary">Text 1</div>
                    <div class="span2">
                      <img src="{{url_for('static', filename = 'images/secure-cart.png')}}" alt="Trust on us" height="auto" width="300px">
                    </div>
                 </div>
                
            </div>
        </div>
    </div>
  {% endif %}
</body>

{% endblock body %}
