{% extends 'base.html' %} {% block title %} Cart - UnTuned {% endblock title %}
{% block body %}

<body>
  {% if not g.user %}
  <div class="container text-center my-5">
    <img src="{{url_for('static', filename = 'images/empty-cart.svg')}}" alt="empty cart" height="250px" width="250px">
    <h3 class="mt-3">Missing Cart items?</h3>
    <h5 class="mb-3">Login to view items in your cart!</h5>
    <a href="/login" style="text-decoration:none;">
      <div class="btn btn-success btn-lg my-2">Login</div>
    </a>
  </div>
  {% else %}
  <div class="container ">
    <div class="row">

      <div class="col-md-8" style="background-color: var(--bgcolor);">
        {% if products_in_cart|length == 0 %}
        <h3>Your cart is empty. Add some items to the cart.</h3>

        {% else %}
        {% for product in products_in_cart %}
        <div class="card product-card mb-3" style="max-width: 95%;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src=" {{ url_for( 'getImage', imgid=product.imgid ) }}" class="card-img-top" alt="product-image"
                style="width: 300px; height: 250px" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h4 class="card-title prod-title" id="prod-title">
                  {{ product.pname }}
                </h4>
                <p class="card-text prod-desc" id="prod-desc">
                  {{ product.pdesc | truncate(111) }}
                </p>
                <h5 class="card-text">Price: ₹ {{ product.pprice }}</h5>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <div class="row-fluid">
          <div class="span2" id="trustImage">
            <img src="{{url_for('static', filename = 'images/secure-cart.svg')}}" class="img-fluid" alt="Trust on us"
              height="auto" width="300px">
          </div>
          <!-- Payment Button -->

          <h4>Total Payable Amount: ₹ {{products_in_cart|sum(attribute='pprice')}}</h4>

          <form action="/success" class="mt-3" method="POST">
            <script
                src = "https://checkout.razorpay.com/v1/checkout.js"
                data-key = "rzp_test_xYIjFZqdWvjjiZ"
                data-amount = "{{products_in_cart|sum(attribute='pprice')*100}}"
                data-currency = "INR"
                data-order_id = "{{payment['order_id']}}"
                data-buttontext = "Pay Now"
                data-name = "UnTuned"
                data-description = "Secure Transaction"
                
                data-theme.color = "#D64444"
            /></script>
            <input type="hidden" custom = "Hidden Element" name="hidden">            
        </form>

        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
</body>

{% endblock body %}