{% extends 'base.html' %} {% block title %} UnTuned Home {% endblock title %}
{%block body %}
<div class="container text-center mt-2 my-5">
  <h1>This is home page</h1>
</div>
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-sm-5">
      <form action="{{ url_for('add_to_cart', pid=product.pid) }}" method="POST">
      <div class="card" style="width: 100%; margin: 0 5px 20px 0;">
        <img
          src=" {{ url_for( 'getImage', imgid=product.imgid ) }}"
          class="card-img-top"
          alt="product-image"
          style="width:100%; height:300px;"
        />
        <div class="card-body">
          <h4 class="card-title">{{ product.pname }}</h4>
          <p class="card-text">{{ product.pdesc|truncate(50) }}</p>
          <h5 class="card-text">Price: ₹ {{ product.pprice }}</h5>
          <button
            type="button"
            class="btn btn-primary mt-2"
            data-bs-toggle="modal"
            data-bs-target="#productModal"
          >
            More Info..
          </button>
          <button class="btn btn-primary mt-2" type="submit">Add to Cart</button>
        </div>
      </div>
    </form>

      <form action="/add_to_cart/{{ product.pid }}" method="POST">
        <div
          class="modal fade"
          id="productModal"
          tabindex="-1"
          aria-labelledby="productModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="productModalLabel">
                  {{product.pname}}
                </h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  src=" {{ url_for( 'getImage', imgid=product.imgid ) }}"
                  alt="product-image"
                  style="width:100%;"
                />
                <p id="prodDesc">{{ product.pdesc }}</p>
                <h5 id="prodPrice">Price:  ₹ {{ product.pprice }}</h5>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}

<!-- https://picsum.photos/200 -->
